@keyframes titleColorChange {
    0% {
        color: #d32f2f; /* Rojo */
    }
    100% {
        color: #FFFFE0; /* Azul de medianoche */
    }
}

/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background: linear-gradient(to bottom, #000000, #434343); /* Degradado de negro a gris oscuro */
    color: #ffffff; /* Texto blanco para mejor contraste */
}

/* Estilo para los encabezados */
h1 {
    text-align: center; /* Centrar encabezado */
    margin-bottom: 20px;
    animation: titleColorChange 3s forwards; /* Aplicar la animación de color */
}

/* Estilo para los botones */
.toggle-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: linear-gradient(to right, #00c6ff, #0072ff); /* Degradado de azul claro a azul oscuro */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background: linear-gradient(to right, #00c6ff, #00ff72); /* Degradado de azul claro a verde */
}

/* Estilo para las secciones */
.section {
    display: none; /* Ocultar secciones por defecto */
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #d32f2f; /* Borde rojo */
    border-radius: 10px
}